.main-title {
  text-align: center;
  color: brown;
}

.form-class {
  background-color: #e3eff1;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 50px;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.form-class label {
  padding: 10px;
}

.form-class input {
  width: 100%;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.checkbox {
  width: 5% !important;
}

.box-title {
  margin-top: 10px;
}

.box-title input {
  width: auto;
  margin-top: 10px;
}

.btn-submit {
  height: 40px;
  width: 140px;
  background-color: blue;
  color: white;
  border: 2px solid blue;
  margin-top: 10px;
}

input:valid {
  border: 2px solid green;
}
