/* REUSABLE ITEMS */
:root {
  --color-pink: #fbcec2;
  --color-light-blue: #d3e3fc;
  --color-teal: #187165;
  --color-grayish-blue: hsl(208, 11%, 55%);
  --color-box-shadow: rgba(200, 200, 200, 0.6);
  --fs-body: 18px;
  --fs-text: 20px;
  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;
  --fw-bold: 800;
  --fw-medium: 600;
  --fw-light: 400;
}
/* REUSABLE ITEMS */

body {
  font-family: var(--ff-body);
  color: var(--color-teal);
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.logo {
  height: 40px;
  width: 40px;
}

.btn {
  border: none;
  border-radius: 25px;
  min-width: 100px;
}

.contact-btn {
  background-color: white;
  color: var(--color-dark-cyan);
  box-shadow: 2px 2px 10px var(--color-grayish-blue);
  padding: 5px 30px;
  font-weight: var(--fw-bold);
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu div {
  height: 240px;
  width: 240px;
  display: inline-block;
  background-color: red;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}
