/* REUSABLE ITEMS */
:root {
  --color-pink: #fbcec2;
  --color-light-blue: #d3e3fc;
  --color-teal: #187165;
  --color-grayish-blue: hsl(208, 11%, 55%);
  --color-box-shadow: rgba(200, 200, 200, 0.6);
  --fs-body: 18px;
  --fs-text: 20px;
  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;
  --fw-bold: 800;
  --fw-medium: 600;
  --fw-light: 400;
}
/* REUSABLE ITEMS */

body {
  font-family: var(--ff-body);
  color: var(--color-teal);
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.logo {
  height: 40px;
  width: 40px;
}

.btn {
  border: none;
  border-radius: 25px;
  min-width: 100px;
}

.contact-btn {
  background-color: white;
  color: var(--color-dark-cyan);
  box-shadow: 2px 2px 10px var(--color-grayish-blue);
  padding: 5px 30px;
  font-weight: var(--fw-bold);
}

.contact-btn a {
  color: var(--color-dark-cyan) !important;
  text-decoration: none;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu div {
  height: 300px;
  width: 300px;
  display: inline-block;
  text-decoration: none;
  padding: 40px;
  white-space: wrap !important;
}

.contenttitle {
  margin-left: 40px;
}

/* SLIDER */

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--color-teal);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.caption {
  color: #000000;
  font-size: 36px;
  position: absolute;
  bottom: 40px;
  width: 60%;
  padding-left: 40px;
  text-shadow: 2px 1px var(--color-teal);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--color-teal);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--color-pink);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.sale-container {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: auto auto;
  background-color: var(--color-pink);
  padding: 40px;
  margin-top: 100px;
}

.footer-container {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: auto auto auto auto;
  padding: 40px;
  margin-top: 100px;
}
